<div style="color: blue; background-color: lightgray; padding: 50px;" >
    <h2 class="text-center">{{pageTitle}}</h2>
    <div class="container">
        <button class="btn btn-info" (click)='toggle()'>Update Name</button> &nbsp;&nbsp;
        <button class="btn btn-info" >Update Profile</button>
    </div>
</div>
<label>
    <br>
    Name : <input type="text" [formControl]= "name">
</label>
<hr>
<div class="jumbotron">
    <h3>You Entered : {{name.value}}</h3>
    <hr>
    <div id="setValue" *ngIf= 'show'>
        <h5>Using setValue method</h5>
        <button (click)= 'upDateName()' class="btn btn-warning">Updata name</button>
    </div>
    <hr>
</div>

<hr>